<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315643285056-i96nj0ufjm0dks0596jn87g7c2jj103b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315643285056-i96nj0ufjm0dks0596jn87g7c2jj103b</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Upk0yOLU3b363MC2eCl16Jhs5FfxZ9o</string>
	<key>GCM_SENDER_ID</key>
	<string>315643285056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mypractapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-pract-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-pract-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315643285056:ios:8326d44fdbcfc222f159a5</string>
</dict>
</plist>